{% extends "index.html" %}

{% block head_title %}Sign in | Dialectic{% endblock %}

{% block content %}

    <div style="background-color: #000;
            opacity: 0.8;
            height: 36vw;
            padding: 20px;">

    <h1 style="font-size: 50px; 
    text-transform: uppercase; 
    text-align: center; color: #3560fc;
    letter-spacing: 2px;
    font-weight: bold;
    ">Sign in to Dialectic</h1>
    <div style="text-align: center; color: white; font-size: 25px;">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">SIGN IN</button>
        </form>
    </div>

    </div>
{% endblock %}